{% extends 'base.html' %}
{% set active_page = 'login' %}
{% block head %} {% endblock %}
{% block style %} {% endblock %}

{% block body %}
    <section class="jumbotron">
        <h1 class="display-6" style="text-align: center;">管理员登录</h1>
        <hr class="my-4">
        <form action="{{ url_for("auth.login", next=request.args.get('next')) }}" method="post" name="login">
            {{ form.csrf_token }}
            <p>
                {{ form.username.label }}<br>
                {{ form.username(size=80) }}<br>
            </p>
            <p>
                {{ form.password.label }}<br>
                <!-- 我们可以传递input标签的属性，这里传递的是size属性 -->
                {{ form.password(size=80) }}<br>
            </p>
            <p>{{ form.remember_me }} Remember Me</p>
            <p><input type="submit" value="Sign In"></p>
        </form>
    </section>
{% endblock %}

{% block jscript %} {% endblock %}