{% extends 'base.html' %}
{% set active_page = 'about' %}
{% block head %} {% endblock %}
{% block style %} {% endblock %}

{% block body %}
    <section class="jumbotron">
        <h1 class="display-6" style="text-align: center;">绿动北京足球队 球队管理细则</h1>
        <hr class="my-4">
        <h3>总则：</h3>
        <p>1、为规范球队的行为,保障球队与全体成员的权益,借鉴操作成功的其他球队与结合本球队的实际情况,特制定本章程。</p>
        <p>2、球队名称：绿动北京</p>
        <p>3、球队信条：团队足球和技术足球至上</p>
        <p>4、球队坚决遵守社会公共利益及球队全体队员的共同利益,接受球队全体队员的监督。球队章程对全体队员均具有约束力。</p>
        <h3>第一章 球队组成及管理</h3>
        <p>1、球队由全体球员组成,包括建队以来历年陆续加入绿动北京足球队的全体队员。</p>
        <p>2、球队委员会由队内骨干球员代表组成,球队重大事项与活动主要事情由球队委会组织安排协调，队委会为全体队员服务。球队委员会成员总计不超过 7 人。</p>
        <p>3、全体队员都可以自愿申请加入队委会,球队每年会进行一次队委会成员换届更新,必要时由全体队员选举出新一届队委会成员。如有个别队委会人员因特殊原因不适合担任其职务,可提出辞呈,由球队大会讨论或其他队委指派人选。</p>
        <p>4、球队设队长两名（正、副队长各一名）,领队一名,技术指导一名,外联宣传主管一名。</p>
        <p><strong>队长职责：</strong>全面负责球队的管理及组织协调工作,调动队员赛场内外的积极性和拚搏精神,帮助新加入队员融入球队；负责安排比赛上场人员及其位置,处理场上突发事件。队长因故不能到场参加比赛或训练时,由副队长或领队履行队长的职责。</p>
        <p><strong>领队职责：</strong>负责球队训练与比赛的组织工作。主管比赛或训练时的时间和场地安排、比赛记录等;对球队固定资产、经费及帐目的管理,每月定期向全队球员公布费用开支情况并接受全体队员的监督,同时负责球队成员队费的收缴、催缴工作。</p>
        <p><strong>技术指导职责：</strong>协助队长管理好整支球队,组织赛前热身。针对球队情况制定合理的训练计划, 并在技战术等方面指导球员提高。针对不同比赛,定期开展视频技术分析与复盘分享工作。</p>
        <p><strong>外联宣传主管职责：</strong>负责管理球队微信群、QQ群等宣传窗口的维护与更新。同时负责球队考勤与奖惩制度定期公告的发布与通知工作。</p>
        <p><strong>球队成员权利：</strong></p>
        <p>1、有选举权和被选举权,有权对球队提出合理化建议。</p>
        <p>2、有权监督球队的管理组织是否公正合理,有权要求了解与公开球队财务情况。</p>
        <p>3、有权联系比赛,必要时须经讨论向队委会咨询通过后执行。</p>
        <p><strong>球队成员义务：</strong></p>
        <p>1、树立足球队的良好风范,遵守社会公德和体育道德。维护球队荣誉,尊重队友,尊重对手和裁判员。</p>
        <p>2、遵守球队章程,维护球队荣誉。要服从队委安排,养成每天入微信群看公告、及时关注球队微信的习惯,及时了解比赛或训练的时间、地点等。能参加比赛、训练的队员都要积极参加,并提前确认当天到场人员,不能参加比赛、训练的队员需提前请假。</p>
        <p>3、积极参加球队活动,积极参加比赛讨论。</p>
        <p>4、认真学习足球技术,加强体能训练。</p>
        <p>5、固定的时间讨论球队的近况,并时常在群里发表自己对球队的意见或建议,共同建议球队。</p>
        <h3>第二章 球队经费说明及财务制度</h3>
        <p>1、对于球队正式会员球员: 球队设立年度会员费与常规活动经费两部分费用,具体情况说明如下：</p>
        <p><strong>年度会员费：</strong></p>
        <p>➢ 球队成员每年 1月10日 一次性缴纳 300 人民币会员费,该费用专项用于球队团队建设(每年不低于 1 次),如:球队旅行、聚餐、年会、年终奖品等。全体球队成员需全额缴纳,该费用专款专用,独立计费,款项使用细节由球队委员会与全体队员进行监督。</p>
        <p>➢ 年度会员费一年缴纳一次,如个别成员有特殊情况无法按时缴纳,需向队长/领队以及队委会 进行说明,队长/领队结合沟通具体情况决定是否延后收取。</p>
        <p>➢ 如整个会员年度期间有新队员加入,每年 6月30日 前加入球队的全额缴纳会员费,每年 7月1日 后加入球队的,缴纳80%会员费。</p>
        <p>➢ 年度会员费原则上如无特殊情况不退,如因个人原因确实无法继续参加球队后续活动,经队委会成员商议批准可退还剩余部分。</p>
        <p>➢ 年终,年度会员费结余部分自动计入下一会员年度,如出现球员退队情况,按照结余部分个人平均值金额全额退还给该退队球员。</p>
        <p>➢ 球队队长、领队以及队委员会成员对年度会员费的制度有最终解释权。</p>
        <p><strong>常规活动经费:</strong></p>
        <p>➢ 球队成员每年 1月10日 之前一次性缴纳 200 人民币常规活动经费,该费用专项用于球队日常的正式比赛/友谊赛的场地费用及相关费用的结算,全体球队成员需全额缴纳,当该费用满额使用完毕后,球队成员需继续按照每次不低于 200 人民币的费用进行补充缴纳。,该费用专款专用,独立计费,款项使用细节由球队委员会与全体队员进行监督。</p>
        <p>➢ 中途新入队队员自正式入队日起一次性缴纳 200 人民币常规活动经费。</p>
        <p>➢ 如个别成员有特殊情况(如因伤病原因长期无法参加活动,球队门将按照队规不收取活动费用等)无法按时缴纳,需向队长/领队以及队委会进行说明,队长/领队结合沟通具体情况决定是否延后收取。</p>
        <p>➢ 球队队长、领队以及队委员会成员对年度会员费的制度有最终解释权。</p>
        <p>2、对于球队非正式会员球员:</p>
        <p>➢ 参加球队比赛或训练,每场均摊费用比正式会员球员多缴 10 元,多缴部分算在本次比赛或训练费用中。</p>
        <p>➢ 原则上不可以参加球队团建活动。如想参加需经球队委员会批准,但不得参与球队奖项评选以及奖品获得。参与团建活动费用需与正式会员球员均摊。</p>
        <p>3、财务管理责任制落实到专人(球队领队),任何人不得越权管理财务,同时队委会和队员对财务具有知情和监督权。做到有效监督和账目公开,每周定期制作活动经费明细,清晰记录球队费用支出和收入报表供大家查阅,如有疑问可向队长/领队及队委会提出。账目明细在群里公布,以便让每位队员了解自己缴纳的金额和经费去向情况。</p>
        <h3>第三章 入队规则</h3>
        <p>1. 入队规则与要求说明如下:</p>
        <p>➢ 认可绿动北京足球队球队的管理模式与球队信条,与全体成员有共同价值观。</p>
        <p>➢ 入队要求人品合格,乐于奉献,有责任感,同时积极参加球队的日常活动。</p>
        <p>2、入队申请方法：对于想要加入球队的朋友,请与队长、领队或球队委员会联系。申请入队并参加试训的队员,参加至少二次试训(试训前两次免费),能保证出勤率,表现良好,经队委考核通过,方能成为正式队员。</p>
        <p>3、所有球队正式队员带朋友参赛,则须在比赛前向队长、领队提出申请,队长与领队根据当场比赛的人员情况进行场上安排。</p>
        <p>4、慎重加入在校生。</p>
        <h3>第四章 活动办法</h3>
        <p>1、原则上每周末进行一次比赛或内部训练,每月至少一次周中内部训练。根据实际情况可以适当调整,但应保证每月有 2~3 次比赛或训练。</p>
        <p>2、球队比赛人员安排,原则是以经常参加活动的正式会员球员优先,再结合比赛位置人员情况决定。其他人不能擅自要求上场,必须统一服从球队安排。</p>
        <p>3、每次训练和赛前都由教练带领队员做好热身,以免发生不必要的受伤。</p>
        <p>4、训练态度认真,服从队委的训练安排。</p>
        <p>5、可适时报名参加市内外的业余足球比赛。</p>
        <p>6、所有队员必须用踢球者 APP 报名或请假,特殊情况可以跟队长、领队及队委会说明,并报送给考勤记录者。</p>
        <p>7、组织或参与其他一些有意义的集体活动，以聚会的活动形式,延续足球比赛后的愉悦氛围,达到真正“以球会友”的活动宗旨;主要聚会形式为聚餐、K 歌、看球赛、团体旅游等(费用分摊可参考第二章)。</p>
        <h3>第五章 考勤管理办法(适用于正式会员球员)</h3>
        <p>1、比赛活动报名:</p>
        <p>➢ 每周领队会在球队 APP(踢球者) / 会员QQ群 发布本周比赛正式通知,全体球员要在APP和进行报名,截止日为比赛前一天 23 点以前。不得出现待定情况。三次未反馈球员直接取消会员资格。</p>
        <p>➢ 比赛当天临时有急事需向队长、领队或技术指导请假并提供凭证(例如车坏路上拖车、修车凭证,看病证明,事发照片等等),如无法提供任何凭证一律视为旷赛处理。</p>
        <p>2、到场时间与赛前准备:</p>
        <p>➢ 报名球员在比赛前 30 分钟必须到场 ,由专人带领热身,当天队长安排比赛战术,赛前 20 分钟未到场按迟到办法处理。迟到者当场缴纳 5 元罚款,归入当场比赛费用中进行均摊,如当场拒缴,本着不缴费不上场的准则处理。开赛 30 分钟未到场,按旷赛一场处理。(当天临时有急事和领队或队长请假情况除外)</p>
        <p>3、比赛中:</p>
        <p>➢ 队长、领队、技术指导根据报名情况提前安排好比赛阵容,尽量保证全部报名球员上场时间20 分钟以上，不满出场 20 分钟时间的球员不记录比赛费用。非会员球员,队长、领队、技术指导根据当天比赛报名情况酌情安排上场时间。</p>

        <p>4、赛后:</p>
        <p>➢ 根据报名 APP 核对到场球员,报名未到场并且没有请假球员按旷赛一场处理,并且扣除当天比赛平均费用。</p>
        <p>5、特殊情况说明:</p>
        <p>➢ 如比赛活动报名时在 APP 中提前请假,但比赛当天可临时加入活动的队员,由队长、领队、技术指导结合已经安排好的比赛阵容酌情安排出场时间与出场顺序。</p>
        <p>➢ 比赛当天确实有事情无法保证开场前一定赶到的队员,需在比赛开始前 3 小时和队长、领队、技术指导沟通,结合实际情况记录该队员当日考勤与合理安排出场时间。</p>
        <h3>第六章 比赛纪律</h3>
        <p>球队大部分都是年轻的成年人,希望大家首先考虑尊重球队内的其他成员,对自己每一次的言词与行为负责,自我监督。</p>
        <p>1、队员应无条件参加球队活动。比赛时,队员必须穿着球队统一发放、统一颜色的比赛服装,并根据条件佩戴护具。</p>
        <p>2、比赛时,队员应无条件服从队长、领队、技术指导一切安排,包括点球定位球的主罚人选,并在比赛中坚定不移的贯彻队长教练的战术意图,不得干扰队长教练对比赛战术及人员的安排,更 不得擅自更改决定。如有问题,只能在比赛之后发表评论和意见,但不得进行任何人身攻击。</p>
        <p>3、比赛时,队员应尊重裁判,尊重对手,并应服从裁判判罚、文明比赛,不得指责、谩骂裁判、对手和场外人员,也不得因任何原因与裁判、对手以及场外人员发生任何冲突。</p>
        <p>4、比赛中,队员应积极进取、奋勇拚搏,无论是领先还是落后,都要以一种良好的精神状态完成比赛,不得无故擅自离场,更不得罢赛。</p>
        <p>5、比赛中,队员应相互鼓励,团结奋战,不得埋怨、指责队友。</p>
        <p>6、队员之间一律平等,不得因球技水平,个人背景或其它因素歧视队友。</p>
        <p>7、发扬良好的赛场作风,服从裁判,尊重对手,严于律己,宽以待人,保持高昂的斗志。</p>
        <p><strong>违反场上纪律处罚</strong></p>
        <p>1、对拒不服从裁判判罚的、对对手施以恶劣动作报复的、对谩骂、侮辱裁判、队友、对手及场外观众的队员,在劝阻、制止无效时,视情节而定,队委会成员有权做出换该队员下场的处罚。</p>
        <p>2、对不听从战术、人员安排者,在提醒无效时,视情况而定,队委会成员有权做出换该队员下场的处罚。</p>
        <p>3、对比赛中场上队员无故离场者,禁赛三场。</p>
        <p><strong>其它处罚</strong></p>
        <p>1、违反国家法律法规、严重违反球队规章制度、损害球队利益者,一律开除。</p>
        <p>2、对球队内部拉帮结派,恶意报复者,立刻开除出队。</p>
        <p>3、发生球场暴力,由队委讨论决定是否开除出队。</p>
        <h3>附则:</h3>
        <p>1、以上全部规定最终解释权归队长、领队、队委会所有。</p>
        <p>2、以上全部规定由队长、领队、队委会牵头,每 6-12 个月进行一次修订,由全体队员对修订过程进行监督。</p>
    </section>
{% endblock %}

{% block jscript %} {% endblock %}