{% extends 'base.html' %}
{% set active_page = 'player' %}
{% block head %} {% endblock %}
{% block style %} {% endblock %}

{% block body %}
        <section class="jumbotron">
            <h1 class="display-6" style="text-align: center;">球员资料</h1>
            <form class="form-inline my-2 my-lg-0" action="javascript:get_player($('#uName').val());">
                <input id="uName" class="form-control mr-2" style="max-width: 50%;" type="text" list="playerList" placeholder="球员姓名">
                <datalist id="playerList">
                    <!--<option value="abc"></option>-->
                </datalist>
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>

            <hr class="my-4">

            <table class="table table-hover table-striped" id="playerTable">
                <thead>
                    <tr class="table-success">
                        <th scope="col">姓名</th>
                        <th scope="col">号码</th>
                        <th scope="col">生日</th>
                        <th scope="col">位置</th>
                    </tr>
                </thead>
                <tbody>
                    <!--<tr>
                        <td scope="row">Dark</td>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>-->
                </tbody>
            </table>
        </section>
{% endblock %}

{% block jscript %}
<script language="JavaScript" type="application/javascript">

$(function(){
    $.ajax({
        url: "/api/get_name_num_list",
        type: "GET",
        dataType: "json",
        success: function (data) {
            var res_str = '';
            for (var i = 0; i < data.length; i++) {
                res_str = res_str + '<option value="' + data[i].name + '">#' + data[i].num +'</option>'
            }
            $('#playerList').html(res_str);
        },
        error: function (response, status, error) {
            console.log('Error: ' + error + ". Status: " + status);
        },
        async: false
	});
});

//get a player details
function get_player(name) {
	$.ajax({
        url: "/api/get_player_by_name?n=" + name,
        type: "GET",
        dataType: "json",
        success: function (data) {

            var res_str = '';
            for(var i = 0; i < data.length; i++) {
                var pos_str = '';
                for (var j = 0; j < data[i].position.length; j++) {
                    pos_str = pos_str + '<span class="badge badge-primary mr-1">' + data[i].position[j] + '</span>'
                }
                res_str = res_str + '<tr><td scope="row">' + data[i].name + '</td><td>' + data[i].num + '</td><td>' + data[i].dob + '</td><td>' + pos_str + '</td></tr>'
            }

            $('#playerTable').find('tbody').html(res_str);
        },
        error: function (response, status, error) {
            console.log('Error: ' + error + ". Status: " + status);
        },
        async: false
	});
}

</script>
{% endblock %}