<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

    <meta name="keywords" content="绿动,北京,绿动北京,绿动北京足球队,绿动北京足球俱乐部" />
    <meta name="description" content="绿动北京足球俱乐部官方网站" />
    <link rel="icon" href="/favicon.ico" />
    <title>绿动北京足球俱乐部官方网站</title>
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/swiper.min.css" rel="stylesheet" media="screen" type="text/css" />


    <link rel="stylesheet" type="text/css" href="/static/css/jquery.fancybox.css" media="screen" />


    <link href="/static/css/xtcss.css?d" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/media.css" />
    <!--[if lt IE 9]>
      <script src="/static/js/html5shiv.min.js"></script>
      <script src="/static/js/respond.min.js"></script>
    <![endif]-->
    <script src="/static/js/jquery.min.js"></script>


    <script type="text/javascript" src="/static/js/jquery.fancybox.pack.js"></script>



    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/swiper.min.js" ></script>
    <script src="/static/js/xtjs.js" ></script>
    <script src="/static/js/common.js" ></script>

    <script type="text/javascript" src="/static/js/index.js"></script>

<script type="text/javascript">

</script>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header xnav">
      <div class="container xlogo qmmLogo">
      <a class="" href="/"><img src="/static/img/ldLogo.png?" ></a>
      </div>
      <button type="button" class="navbar-toggle collapsed" aria-expanded="false">
        <!-- <span class="sr-only">Toggle </span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> -->
      </button>
    </div>


    <div class="collapse navbar-collapse xmenu qmmMenu" id="bs-example-navbar-collapse-1">
    <div class="container xsite qmmSite">
      <!-- <img src="public/img/logo.png" style="position:absolute;width:110px;height:118px;left:50%;margin-left:-55px;top:-23px;z-index: 999999"> -->

            <!-- nav_start -->
            <div class="nav navbar-nav">
              <ul class="xubox">
                  <li class="xcur prz">
                      <a href="/" class="xicon4">首页</a>
                      <span class="pc-line pra"></span>
                  </li>


                  <li class="prz">
                        <span class="qmmDirct top">
                            <a href="/player" class="clearfix">队员信息</a>
                            <span class="pc-line pra"></span>
                        </span>
                  </li>


                  <li class="prz">
                        <span class="qmmDirct top">
                            <a href="/fee" class="clearfix">队费查询</a>
                        </span>
                        <span class="pc-line pra"></span>

                  </li>
                                  </ul><ul>


                  <li class="prz">
                        <span class="qmmDirct top">
                            <a href="/" class="clearfix">图片</a>
                        </span>
                        <span class="pc-line pra"></span>
                  </li>


                  <li class="prz">
                        <span class="qmmDirct top">
                            <a href="/" class="clearfix">视频</a>
                        </span>
                        <span class="pc-line pra"></span>
                  </li>


                  <li class="prz">
                        <span class="qmmDirct top">
                            <a href="/about" class="clearfix">俱乐部</a>
                        </span>
                        <span class="pc-line pra"></span>
                  </li>
                                  </ul>
            </div>
            <!-- nav_end -->
             <div class="x_my">
                <ul>
                    <li><a href="#"><i class="xicon1" style="background-image: url(http://www.fcguoan.com/images/top/2_1524640759076084.png);" ></i>管理员登录</a></li>
                </ul>
            </div>
            <div class="x_cn">
                <ul>
                    <li class="head_title">绿动北京足球俱乐部官方网站</li>
                </ul>
            </div>
    </div>

    <!-- <div class="container xlogo">
      <a class="" href="/"><img src="public/img/logo.png" ></a>
    </div> -->
    </div><!-- /.navbar-collapse -->
    <div class="tel_head"> <p>绿动北京足球俱乐部</p>
        <p>官方网站</p>
    </div>
  </div><!-- /.container-fluid -->
</nav>


<div class="container-fluid xban">

    <div class="swiper-container">
        <div class="swiper-wrapper">
	                       <div class="swiper-slide prz" style="position:relative;">
                    <a href="" style="width:100%;display:block;">
                        <img class="xtoggle"   src="/static/img/slide1.jpg" />
                        <div class="ban_fonts_lili pra">
                            <h2>绿动北京足球俱乐部官方网站</h2>
                            <h3>LVDONG BEIJING F.C. <br>OFFICIAL WEBSITE</h3>
                                                            <a style="display:none;" href="javascript:;" class="ban_more"><i>MORE</i><em></em></a>
                                                    </div>
                        <img class="xMtoggle" src="/static/img/slide1.jpg">
                    </a>
                </div>
                            <div class="swiper-slide prz" style="position:relative;">
                    <a href="" style="width:100%;display:block;">
                        <img class="xtoggle"   src="/static/img/slide2.jpg" />
                        <div class="ban_fonts_lili pra">
                            <h2></h2>
                            <h3> <br></h3>
                                                            <a style="display:none;" href="javascript:;" class="ban_more"><i>MORE</i><em></em></a>
                                                    </div>
                        <img class="xMtoggle" src="/static/img/slide2.jpg">
                    </a>
                </div>
            	   </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
     </div>



    <div class="xshare">
        <ul class="container">
                            <li><a href="javascript:;"><i class="xicon_wx" style="background:url(http://www.fcguoan.com/images/banner_info/2_1533567694193657.png) 0 0 no-repeat"></i></a></li>
                            <li><a href="javascript:;"><i class="xicon_wx" style="background:url(http://www.fcguoan.com/images/banner_info/4_1533567883967855.png) 0 0 no-repeat"></i></a></li>
            <!--          <li><a href="javascript:;"><i class="xicon_wx" style="background:url(../../../public/img/icon_wx.png) 0 0 no-repeat"></i></a></li>
         <li><a href="https://weibo.com/p/1006061912052995/home?from=page_100606&mod=TAB#place"><i class="xicon_wb" style="background:url(../../../public/img/icon_wb.png) 0 0 no-repeat"></i></a></li>
         <li><a href="javascript:;"><i class="xicon_yk" style="background:url(../../../public/img/appimg.png) 0 0 no-repeat"></i></a></li> -->
            <!-- <li><a href="http://zhongchao.9h-sports.com/guoan/welcome.html"><i class="xicon_yk" style="background:url(../../../public/img/appimg.png) 0 0 no-repeat"></i></a></li> -->
    <!--         <li><a href="https://www.toutiao.com/c/user/57823477843/#mid=1562097922429953"><i class="xicon_tt" style="background:url(../../../public/img/icon_tt.png) 0 0 no-repeat"></i></a></li> -->
            <!-- <li><a href="#"><i class="xicon_tb" style="background:url(../../../public/img/icon_tb.png) 0 0 no-repeat"></i></a></li> -->
        </ul>
    </div>
</div>

        <div class="index_erweima">
            <div class="index_erweima_con">
                <i class="close"></i>
                                                            <img src="http://www.fcguoan.com/images/banner_info/2_1533567644148314.jpg">
                                                                                                                    <img src="http://www.fcguoan.com/images/banner_info/4_1533567878931913.jpg">
                                                                                        <!-- <img src="../../../public/img/erweima_index.jpg">
                <img src="../../../public/img/erweima_app.jpg"> -->
            </div>
        </div>

<div class="container-fluid xdjd">
    <div class="xcaic">
        <div class="x_tit">
            <h2><span>足协杯决赛 次回合</span><i class="xicon12"></i></h2>

            <div class="x_a"><span class="s1">HOME</span><span class="s2">主场</span></div>
            <div class="x_b"><span class="s1">AWAY</span><span class="s2">客场</span></div>
        </div>
        <div class="container">
            <div class="x_c"><img src="http://www.fcguoan.com/images/team/1_1525319007202471.png" class="img-responsive" /><span>山东鲁能泰山</span></div>
            <div class="x_d"><img src="http://www.fcguoan.com/images/team/1_1525318930763427.png" class="img-responsive" /><span>北京中赫国安</span></div>
                        <div class="x_i">
                <p>2</p>
                <p>
                    <span><i>1</i>  <span class="word">上半场</span>  <i>0</i></span><br/>
                    <span><i>1</i>  <span class="word">下半场</span>  <i>0</i></span>
                </p>
                <p>2</p>
            </div>
                        <div class="x_f"><span><i class="xicon11"></i>济南 奥体中心体育场</span><span class="xtoggle">|</span><span><i class="xicon10"></i><em>2018-11-30 19:35:00</em></span></div>
                        <div class="x_g">
                <a href="game_detail.php?id=3150" class="btn-8" ><i style="position:relative;z-index:99;font-style:normal;">比赛详情</i></a>
            </div>
                    </div>
    </div>
    <div class="container-fluid xsche">
        <div class="container">
            <div class="xbox">
                <div class="xtit">
                    <span>赛程</span>
                </div>
            <div class="xbg"></div>
            </div>
        </div>

        <div class="xcertify">
            <div class="swiper-container">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">

                        <div class="xcon">
                            <div class="xdwvs">
                                <p class="xp_dw"><img src="http://www.fcguoan.com/images/team/1_1525319007202471.png" /><span>山东鲁能泰山</span></p>
                                <p class="xp_vs"><span>VS</span></p>
                                <p class="xp_dw"><img src="http://www.fcguoan.com/images/team/1_1525318930763427.png" /><span>北京中赫国安</span></p>
                            </div>
                            <div class="xdid">
                                <p class="x_t"><span>19:35</span></p>
                                <p class="x_d"><span>济南 奥体中心体育场</span></p>
                            </div>
                            <div class="xcis">
                                <p class="x_c"><span>足协杯决赛 次回合</span></p>
                            </div>
                            <div class="xtime">
                                <p>2018-11-30 19:35:00</p>
                            </div>
                            <div class="x_btn">
                                                                    <p class="btn-8"><a href="game_detail.php?id=3150"><i>比赛详情</i><i class="xicon9"></i></a></p>

                            </div>
                        </div>

                     </div>
		                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
        <div class="xmove"><a href="game.php">更多赛程<i class="xicon5"></i></a></div>

    </div>

</div>


<div class="container-fluid xyg comItem">
    <div class="container">

        <!--  积分榜  -->
        <div class="xintegral">
            <div class="xtit"><a href="javascript:;" class="a_link" style="border-bottom:3px solid #000;color:#000">积分榜</a></div>

            <div class="xcont">
                <div class="xbox">
                    <a href="score.php">
                        <span>积分榜</span>
                        <span class="s0">5</span>
                    </a>
                </div>
                <div class="xrank">
                    <ul>

                        <li class="xttl"><span class="s1">排名</span><span class="s2">队徽</span><span class="s3">队名</span><span class="s4">积分</span></li>

			<li ><span class="s1">2</span><span class="s2"><img src="http://www.fcguoan.com/images/team/1_1525318938621544.png" /></span><span class="s3">广州恒大淘宝</span><span class="s4">63</span></li>

			<li ><span class="s1">3</span><span class="s2"><img src="http://www.fcguoan.com/images/team/1_1525319007202471.png" /></span><span class="s3">山东鲁能泰山</span><span class="s4">58</span></li>

			<li class="cur"><span class="s1">4</span><span class="s2"><img src="http://www.fcguoan.com/images/team/1_1525318930763427.png" /></span><span class="s3">北京中赫国安</span><span class="s4">53</span></li>

			<li ><span class="s1">5</span><span class="s2"><img src="http://www.fcguoan.com/images/team/1_1525319058118692.png" /></span><span class="s3">江苏苏宁易购</span><span class="s4">48</span></li>

			<li ><span class="s1">6</span><span class="s2"><img src="http://www.fcguoan.com/images/team/1_1525318983561535.png" /></span><span class="s3">河北华夏幸福</span><span class="s4">39</span></li>
                   	                    </ul>
                </div>
            </div>

            <div class="xmove"><a href="score.php">更多<i class="xicon5"></i></a></div>
         </div>

        <!--  射手榜  -->
        <div class="xshooter">
            <div class="xtit"><a href="javascript:;" class="a_link" style="border-bottom:3px solid #000;color:#000">射手榜</a></div>

            <div class="xcont">
                <ul class="row">
                                        <li>
                        <a href="/person.php?id=21">
                            <div class="ximg"><img src="http://www.fcguoan.com/images/person/21_1524113454862029.jpg" class="img-responsive" alt="Responsive image" /></div>
                            <div class="xprice"><span class="xnum">16</span><span class="xbra">GOALS</span></div>
                            <div class="xname">巴坎布</div>
                            <div class="xNo"><i class="xicon6"></i></div>
                        </a>
                    </li>
                                        <li>
                        <a href="/person.php?id=27">
                            <div class="ximg"><img src="http://www.fcguoan.com/images/person/27_1524626004116391.jpg" class="img-responsive" alt="Responsive image" /></div>
                            <div class="xprice"><span class="xnum">11</span><span class="xbra">GOALS</span></div>
                            <div class="xname">比埃拉</div>
                            <div class="xNo"><i class="xicon6"></i></div>
                        </a>
                    </li>
                                        <li>
                        <a href="/person.php?id=11">
                            <div class="ximg"><img src="http://www.fcguoan.com/images/person/11_1524113189541486.jpg" class="img-responsive" alt="Responsive image" /></div>
                            <div class="xprice"><span class="xnum">10</span><span class="xbra">GOALS</span></div>
                            <div class="xname">奥古斯托</div>
                            <div class="xNo"><i class="xicon6"></i></div>
                        </a>
                    </li>
                                    </ul>
            </div>

            <div class="xmove"><a href="pscore.php">更多<i class="xicon5"></i></a></div>
        </div>


    </div>
</div>



<div class="container-fluid xnews comItem">
    <div class="xbox">
        <div class="container">
            <div class="xtit">
                <a href="javascript:;" class="a_link">新闻</a>
            </div>
            <div class="xbg"></div>

            <div class="x_s">
                <div>
                <ul class="J_news">
		                        <li class="cur"><a href="javascript:void(0)" cateid="1">公告</a></li>
                                    <li ><a href="javascript:void(0)" cateid="2">赛事报道</a></li>
                                    <li ><a href="javascript:void(0)" cateid="3">媒体声音</a></li>
                                    <li ><a href="javascript:void(0)" cateid="38">图集</a></li>
                                    <li ><a href="javascript:void(0)" cateid="4">球队动态</a></li>
                		</ul>
                </div>
            </div>

        </div>
    </div>
    <div class="container">

        <!-- 公告 -->
           <div class="xcon J_newsC">
            <ul class="row">
            </ul>
        </div>
    </div>
    <div class="xmove"><a href="news.php">更多<i class="xicon5"></i></a></div>

</div>




<div class="container-fluid xvideo comItem">
    <div class="xbox">
        <div class="container">
            <div class="xtit">
                <a href="javascript:;" class="a_link" style="color:#fff">视频</a>
            </div>
        </div>
    </div>
    <div class="container">
           <div class="xcon">
            <ul class="row">
                             <li class="col-xs-6 col-sm-4">
                    <div class="ximg">
                        <a class="fancybox fancy_vid fancybox.iframe" href="http://www.fcguoan.com/article.php?id=504">
                        <i class="xvideo_i_bg"></i>
                        <i class="xvideo_i"></i><img src="http://www.fcguoan.com/images/article/504_1543309085627724.jpg" class="img-responsive" alt="Responsive image" />
                        <p class="x_nr">
                            <strong class="x_a">备战足协杯!北京中赫国安一线队于顺义基地训练</strong>
                            <span class="x_b"><i class="xicon13"></i></span><span class="x_c"><i class="xicon14"></i>2018-11-27</span>
                        </p>
                        <div class="video_hide"><div style="text-align:center;">
	<iframe frameborder="0" src="https://v.qq.com/txp/iframe/player.html?vid=y0803bxnen1">
	</iframe>
</div></div>
                        </a>
                </li>
                             <li class="col-xs-6 col-sm-4">
                    <div class="ximg">
                        <a class="fancybox fancy_vid fancybox.iframe" href="http://www.fcguoan.com/article.php?id=499">
                        <i class="xvideo_i_bg"></i>
                        <i class="xvideo_i"></i><img src="http://www.fcguoan.com/images/article/499_1543114061994290.jpg" class="img-responsive" alt="Responsive image" />
                        <p class="x_nr">
                            <strong class="x_a">足协杯京鲁对决 大战一触即发</strong>
                            <span class="x_b"><i class="xicon13"></i></span><span class="x_c"><i class="xicon14"></i>2018-11-25</span>
                        </p>
                        <div class="video_hide"><div style="text-align:center;">
	<iframe frameborder="0" src="https://v.qq.com/txp/iframe/player.html?vid=l0799fsocbh">
	</iframe>
</div></div>
                        </a>
                </li>
                             <li class="col-xs-6 col-sm-4">
                    <div class="ximg">
                        <a class="fancybox fancy_vid fancybox.iframe" href="http://www.fcguoan.com/article.php?id=498">
                        <i class="xvideo_i_bg"></i>
                        <i class="xvideo_i"></i><img src="http://www.fcguoan.com/images/article/498_1543113969004785.jpg" class="img-responsive" alt="Responsive image" />
                        <p class="x_nr">
                            <strong class="x_a">中赫国安晋级2018足协杯决赛之路</strong>
                            <span class="x_b"><i class="xicon13"></i></span><span class="x_c"><i class="xicon14"></i>2018-11-25</span>
                        </p>
                        <div class="video_hide"><div style="text-align:center;">
	<iframe frameborder="0" src="https://v.qq.com/txp/iframe/player.html?vid=y0800vclhje">
	</iframe>
</div></div>
                        </a>
                </li>
                             <li class="col-xs-6 col-sm-4">
                    <div class="ximg">
                        <a class="fancybox fancy_vid fancybox.iframe" href="http://www.fcguoan.com/article.php?id=493">
                        <i class="xvideo_i_bg"></i>
                        <i class="xvideo_i"></i><img src="http://www.fcguoan.com/images/article/493_1542701941345782.jpg" class="img-responsive" alt="Responsive image" />
                        <p class="x_nr">
                            <strong class="x_a">今天起我们有了一家兄弟俱乐部！</strong>
                            <span class="x_b"><i class="xicon13"></i></span><span class="x_c"><i class="xicon14"></i>2018-11-20</span>
                        </p>
                        <div class="video_hide"><iframe frameborder="0" src="https://v.qq.com/txp/iframe/player.html?vid=y0797q1tk1x" allowFullScreen="true"></iframe></div>
                        </a>
                </li>
                             <li class="col-xs-6 col-sm-4">
                    <div class="ximg">
                        <a class="fancybox fancy_vid fancybox.iframe" href="http://www.fcguoan.com/article.php?id=497">
                        <i class="xvideo_i_bg"></i>
                        <i class="xvideo_i"></i><img src="http://www.fcguoan.com/images/article/497_1543113267028142.jpg" class="img-responsive" alt="Responsive image" />
                        <p class="x_nr">
                            <strong class="x_a">2018一线队球迷开放日</strong>
                            <span class="x_b"><i class="xicon13"></i></span><span class="x_c"><i class="xicon14"></i>2018-11-17</span>
                        </p>
                        <div class="video_hide"><div style="text-align:center;">
	<iframe frameborder="0" src="https://v.qq.com/txp/iframe/player.html?vid=c1352tk7egl">
	</iframe>
</div></div>
                        </a>
                </li>
                             <li class="col-xs-6 col-sm-4">
                    <div class="ximg">
                        <a class="fancybox fancy_vid fancybox.iframe" href="http://www.fcguoan.com/article.php?id=460">
                        <i class="xvideo_i_bg"></i>
                        <i class="xvideo_i"></i><img src="http://www.fcguoan.com/images/article/460_1539779564179633.jpg" class="img-responsive" alt="Responsive image" />
                        <p class="x_nr">
                            <strong class="x_a">2018北京中赫国安青训宣传片</strong>
                            <span class="x_b"><i class="xicon13"></i></span><span class="x_c"><i class="xicon14"></i>2018-10-17</span>
                        </p>
                        <div class="video_hide"><iframe src="https://v.qq.com/txp/iframe/player.html?vid=f0751txxaza" frameborder="0">
</iframe></div>
                        </a>
                </li>

            </ul>
        </div>
    </div>
    <div class="xmove"><a href="/vedio.php">更多<i class="xicon5"></i></a></div>

</div>




<div class="container-fluid xres comItem">
    <div class="xbox">
        <div class="container">
            <div class="xtit">
                <a href="javascript:;" class="a_link zeren" style="color:#000">社会责任</a>
            </div>
        </div>
    </div>
    <div class="container">
           <div class="xcon">
            <ul class="row">
                                <li class="col-xs-6 col-sm-3">
                    <div class="ximg">
                        <a href="http://www.fcguoan.com/article.php?id=99">
                        <img src="http://www.fcguoan.com/images/article/99_1522221993761926.jpg" class="img-responsive" alt="Responsive image" />
                        <p class="x_nr">
                            <strong class="x_a">公益支教-北京中赫国安助力房山区校园足球</strong>
                            <span class="x_c"><i class="xicon14"></i>2018-03-28</span>
                        </p>
                        </a>
                    </div>
                </li>
                                <li class="col-xs-6 col-sm-3">
                    <div class="ximg">
                        <a href="http://www.fcguoan.com/article.php?id=98">
                        <img src="http://www.fcguoan.com/images/article/98_1522221491809754.jpg" class="img-responsive" alt="Responsive image" />
                        <p class="x_nr">
                            <strong class="x_a">文明12人——绿色远征</strong>
                            <span class="x_c"><i class="xicon14"></i>2017-04-13</span>
                        </p>
                        </a>
                    </div>
                </li>
                                <li class="col-xs-6 col-sm-3">
                    <div class="ximg">
                        <a href="http://www.fcguoan.com/article.php?id=27">
                        <img src="http://www.fcguoan.com/images/article/27_1519292650841245.jpg" class="img-responsive" alt="Responsive image" />
                        <p class="x_nr">
                            <strong class="x_a">阳光雨露和风 无差别的足球快乐</strong>
                            <span class="x_c"><i class="xicon14"></i>2018-02-22</span>
                        </p>
                        </a>
                    </div>
                </li>
                                <li class="col-xs-6 col-sm-3">
                    <div class="ximg">
                        <a href="http://www.fcguoan.com/article.php?id=26">
                        <img src="http://www.fcguoan.com/images/article/26_1519292454542190.jpg" class="img-responsive" alt="Responsive image" />
                        <p class="x_nr">
                            <strong class="x_a">雨亭行动，为国储才--中赫国安邀孩子参观训练</strong>
                            <span class="x_c"><i class="xicon14"></i>2018-02-22</span>
                        </p>
                        </a>
                    </div>
                </li>
                            </ul>
        </div>
    </div>
    <div class="xmove"><a href="othernews.php?id=6">更多<i class="xicon5"></i></a></div>

</div>


<div class="container-fluid xcoop comItem">
    <div class="xbox">
        <div class="container">
            <div class="xtit">
                <a href="page.php?id=17" class="a_link" style="color:#fff;border-bottom:3px solid #fff">合作伙伴</a>
            </div>
        </div>
    </div>
    <div class="container">
           <div class="xcon">
            <ul class="row">
                                    <li class="col-xs-2">
                        <a target="_blank" href="http://www.sinobo.com/">
                            <div class="ximg"><img src="http://www.fcguoan.com/images/partner/4_1525353430662444.png" /></div>
                        </a>
                    </li>
                                    <li class="col-xs-2">
                        <a target="_blank" href="http://fc.sinobo.com/page.php?id=17">
                            <div class="ximg"><img src="http://www.fcguoan.com/images/partner/5_1525354603124758.png" /></div>
                        </a>
                    </li>
                                    <li class="col-xs-2">
                        <a target="_blank" href="http://fc.sinobo.com/page.php?id=17">
                            <div class="ximg"><img src="http://www.fcguoan.com/images/partner/6_1525354611686089.png" /></div>
                        </a>
                    </li>
                                    <li class="col-xs-2">
                        <a target="_blank" href="http://fc.sinobo.com/page.php?id=17">
                            <div class="ximg"><img src="http://www.fcguoan.com/images/partner/7_1525354617179808.png" /></div>
                        </a>
                    </li>
                                    <li class="col-xs-2">
                        <a target="_blank" href="http://fc.sinobo.com/page.php?id=17">
                            <div class="ximg"><img src="http://www.fcguoan.com/images/partner/8_1525354623763008.png" /></div>
                        </a>
                    </li>
                                 <!--
                <li class="col-xs-2">
                    <div class="ximg"><img src="public/images/img_2.png" /></div>
                </li>
                <li class="col-xs-2">
                    <div class="ximg"><img src="public/images/img_3.png" /></div>
                </li>
                <li class="col-xs-2">
                    <div class="ximg"><img src="public/images/img_4.png" /></div>
                </li>
                <li class="col-xs-2">
                    <div class="ximg"><img src="public/images/img_5.png" /></div>
                </li> -->
            </ul>
        </div>
    </div>
    <div class="xmove"><a href="page.php?id=17">更多<i class="xicon5"></i></a></div>
</div>


<div class="x_topbtn"><a href="javascript:;"></a></div>


<div class="container-fluid xdesc">

    <div class="container">
        <div class="xbox">
            <ul class="u1">
                <li class="xtit"><a href="news.php">新闻</a></li>
                <li><a href="news.php?id=1">公告</a></li>
                <li><a href="news.php?id=2">赛事报道</a></li>
                <li><a href="news.php?id=3">媒体声音</a></li>
                <li><a href="news.php?id=4">球队动态</a></li>
                <li><a href="news.php?id=38">图集</a></li>
            </ul>
            <ul class="u2">
                <li class="xtit"><a href="game.php">赛事</a></li>
                <li><a href="game.php">赛程</a></li>
                <li><a href="score.php">积分榜</a></li>
                <li><a href="pscore.php">球员数据</a></li>
            </ul>
            <ul class="u3">
                <li class="xtit"><a href="vedio.php">视频</a></li>
                <li><a href="vedio.php?id=10">赛事集锦</a></li>
                <li><a href="vedio.php?id=11">训练动态</a></li>
                <li><a href="vedio.php?id=12">球队报道</a></li>
                <li><a href="vedio.php?id=13">俱乐部报道</a></li>
                <li><a href="vedio.php?id=14">球迷故事</a></li>
            </ul>
            <ul class="u4">
                <li class="xtit"><a href="club.php">俱乐部</a></li>
                <li><a href="about.php">俱乐部简介</a></li>
                <li><a href="story.php">大事记</a></li>
                <li><a href="page.php?id=12">历史战绩</a></li>
                <li><a href="page.php?id=13">荣誉殿堂</a></li>
                <li><a href="page.php?id=14">名人堂</a></li>
                <li><a href="page.php?id=15">主场信息</a></li>
                <li><a href="page.php?id=16">文化交流</a></li>
                <li><a href="othernews.php?id=6">社会责任</a></li>
                <li><a href="page.php?id=17">合作伙伴</a></li>
                <li><a href="page.php?id=18">社会招聘</a></li>
            </ul>
            <ul class="u5">
                <li class="xtit"><a href="page.php?id=11">球迷</a></li>
                <li><a href="page.php?id=11">球迷组织</a></li>
                <li><a href="fan.php?id=34">活动</a></li>
                <li><a href="fan.php?id=35">故事</a></li>
                <li><a href="http://fc.sinobo.com/article.php?id=107">商城</a></li>
                <li><a href="img.php">周边下载</a></li>
            </ul>
            <ul class="u6">
                <li class="xtit"><a href="team.php?cate=1">球队</a></li>
                                <li><a href="team.php?cate=1">一线队</a></li>

                                <li><a href="team.php?cate=2">预备队</a></li>

                                <li><a href="team.php?cate=3">梯队</a></li>


            </ul>
            <ul class="u7">
                <li class="xtit"><a href="youngtrain.php">青训</a></li>
                <li><a href="youngtrain.php?id=22">青训动态</a></li>
                <li><a href="youngtrain.php?id=23">青训视频</a></li>
                <li><a href="youngtrain.php?id=24">青训图集</a></li>
            </ul>
            <div class="xju">
                                    <a href="http://www.fcguoan.com/page.php?id=18" style="display:block;margin-bottom:20px"><img src="http://www.fcguoan.com/images/index_foot/2_1533786118162205.png" /></a>
                                <!-- <a href="#" style="display:block;margin-bottom:20px"><img src="public/img/join_us.png" /></a>
                <a href="#" style="display:block;"><img src="public/img/join_us.png" /></a> -->
            </div>
        </div>
    </div>

</div>

<div class="container-fluid xfoot">

    <div class="container">
        <p>绿动北京足球俱乐部</p>
    </div>

</div>
</body>
</html>
